
<div class="col-md-8">


    <div class="" id="resume">
        <!-- BIO AND SKILLS -->

        @Html.Action("BioAndSkillsForResume", "Home");


        <!-- Professional Experience -->
        @Html.Action("ProfessionalExperienceForResume", "Home");


        <!-- Academic Background -->

        @Html.Action("AcademicBackGroundForResume", "Home");
    </div>

</div>
