

@{
    var db = new AspFinalProject.Models.myCvDbContext().Category.Where(w => w.DeletedDate == null).ToList();
}

<input type="hidden" id="categoryIdInputt" name="categorie" value="" class="categoriesNamess" />
<select id="categoryPicerr" class="selectpicker ">

    <option disabled selected value="">All Categories</option>
    @foreach (var item in db)
    {
        <option id="@item.Id" value="@item.Id">@item.Name</option>

    }

</select>
<span id="addCategory" class="add-custm">or <a href="#."> Add A Custom Category OR Delete</a></span>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $("#categoryPicerr").change(function () {
        var selected = $(this).children("option:selected").val();
        $("#categoryIdInputt").val(selected);
    });

</script>



